*.pyc
preferences.xml

report.xls
*.zip
Build/extractor.spec
*.spec
Data/Dataset 1 Analysis_PPAnalysisPlots/Hub_Turbulence_By_Hub_Wind_Speed.png
Build/build/pcwg_tool/logdict2.7.11.final.0-1.log
*.toc
temp_config.xml
debug (All Measured).dat
debug (Inner Range).dat
debug (Turbulence Corrected).dat
power_cruve.dat
Build/build/pcwg_tool/pcwg_tool.exe.manifest
Build/pcwg_tool.spec
Build/pcwg_tool.spec
Build/pcwg_tool/Data/Dataset 4 PowerCurve.xml
Build/pcwg_tool/Data/Dataset 4 Analysis.xml
.idea
.DS_Store
Build/pcwg_tool.spec
Build/pcwg_tool/Resources/logo.ico
*.spec
Build/pcwg_tool.spec
tests/data/test_portfolio_config (Share01).xls
